@import '/src/style/variables.scss';

.button-wrapper {
  .button {
    user-select: none;
    border: none;
    border: 1px solid $component-border-color;
    padding: 7px 16px;
    border-radius: $global-border-radius;

    &:focus,
    &:active {
      border: 1px solid $component-clicked-border-color;
    }
  }

  //==================================================
  //  COLOR DEPENDET
  //==================================================

  &.primary {
    .button {
      background-color: $component-primary-background-color;
      color: $component-primary-text-color;
    }
  }

  &.secondary {
    .button {
      background-color: $component-secondary-background-color;
      color: $component-secondary-text-color;
    }
  }
}
