@import '/src/style/variables.scss';

.button-wrapper {
  .button {
    user-select: none;
    border: none;
    border: 1px solid $component-border-color;
    padding: 7px 16px;
    border-radius: $global-border-radius;
    outline: none;
  }

  //==================================================
  //  COLOR DEPENDET
  //==================================================

  &.primary {
    .button {
      background-color: $primary;
      color: $component-primary-text-color;

      &:active {
        background-color: rgba($color: $primary, $alpha: 0.7);
      }
    }
  }

  &.secondary {
    .button {
      background-color: $component-secondary-background-color;
      color: $component-secondary-text-color;

      &:active {
        background-color: rgba($color: $component-secondary-background-color, $alpha: 0.7);
      }
    }
  }
}
