@import '/src/style/variables.scss';

.dropdown-wrapper {
  .dropdown {
    border: none;
    border: 1px solid $component-border-color;
    padding: 7px 10px;
    position: relative;
    user-select: none;
    border-radius: $global-border-radius;
    background-color: $component-secondary-background-color;
    color: $component-secondary-text-color;
  }

  .dropdown-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    background-color: $component-secondary-background-color;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.9);
    z-index: 10;
    max-height: 330px;
    overflow: overlay;
  }

  .dropdown-item {
    height: auto;
    padding: 7px 10px;
    overflow: auto;

    &:hover {
      background-color: $primary;
      color: white;
    }
  }

  .dropdown-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    fill: $component-secondary-text-color;
  }

  //==================================================
  //  COLOR DEPENDET
  //==================================================

  &.primary {
    .dropdown-input-border {
      border: 1px solid $primary;
    }

    .dropdown-item:hover {
      background-color: $primary;
      color: white;
    }
  }

  &.secondary {
    .dropdown-input-border {
      border: 1px solid $component-border-color;
    }

    .dropdown-item:hover {
      background-color: $component-border-color;
      color: white;
    }
  }
}
