@import '/src/style/variables.scss';

.tab-wrapper {
  .tab-container {
    display: flex;
    background-color: rgba($color: $component-secondary-background-color, $alpha: 0.5);
  }

  .tab-item-dragging {
    background-color: rgba($color: $component-secondary-background-color, $alpha: 0.2) !important;
  }

  .tab-item {
    border-radius: 0;
    padding: 7px 10px;
    background-color: $component-secondary-background-color;
    color: $component-secondary-text-color;
    // border-right: 1px solid $secondary-dim;
    border-right: 1px solid rgba($color: $secondary-dim, $alpha: 0.5);
    user-select: none;
    cursor: default;

    &:last-child {
      border-right: 0;
    }
  }

  //==================================================
  //  COLOR DEPENDET
  //==================================================

  &.primary {
    .tab-item-active {
      background-color: $primary;
      color: white;
    }
  }

  &.secondary {
    .tab-item-active {
      background-color: $secondary-dim;
    }
  }
}
