@import '/src/style/variables.scss';

.tree-wrapper {
  background-color: $component-secondary-background-color;
  color: $component-secondary-text-color;

  .tree-node {
    user-select: none;
  }

  .tree-node-label {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    .toggle {
      transition: transform 0.3s;
    }
  }

  .tree-toggle-icon {
    fill: #abb2bf;
    transform: rotate(180deg);

    &.collapsed {
      transform: rotate(90deg);
    }
  }

  .tree-node-text {
    padding-left: 3px;
  }

  .tree-node-children {
    transition: all 0.2s;
    overflow: hidden;
    transform: translateY(0);
    opacity: 1;

    &.collapsed {
      opacity: 0;
      display: none;
      transform: translateY(-100%) scale(0);
    }
  }

  //==================================================
  //  COLOR DEPENDET
  //==================================================

  &.primary {
    .tree-node-label-container {
      &:hover {
        background-color: $primary;

        .tree-node-label {
          color: white;
        }
      }
    }
  }

  &.secondary {
    .tree-node-label-container {
      &:hover {
        background-color: $component-clicked-border-color;

        .tree-node-label {
          color: white;
        }
      }
    }
  }
}
