@import './variables.scss';

// Color picker
.pcr-button {
  box-shadow: none !important;
  cursor: default !important;
}

.color-picker-custom-container {
  background-color: $secondary-dim !important;
  width: 250px !important;

  .pcr-current-color {
    border: 1px solid white;
  }

  .pcr-type {
    box-shadow: none !important;
    background-color: $component-secondary-background-color !important;
    color: $component-secondary-text-color !important;
    user-select: none !important;
    outline: none !important;
    border: none !important;
    border: 1px solid $component-border-color !important;
    border-radius: $global-border-radius !important;
  }

  .pcr-type.active {
    background: $primary !important;
    color: white !important;
  }

  .pcr-result {
    box-shadow: none !important;
    background-color: $component-secondary-background-color !important;
    color: white !important;
    border: 1px solid $component-border-color !important;
    border-radius: $global-border-radius !important;
    user-select: none !important;
    outline: none !important;
  }
}
