$primary: #568af2;
$secondary: #282c35;
$secondary-dark: #21252c;

$secondary-dim: #21252b;

$global-border-radius: 1px;

// ============= Component Colors

$component-border-color: #464c55;
$component-clicked-border-color: #838d9c;

$component-primary-background-color: $primary;
$component-primary-text-color: white;

$component-secondary-text-color: #abb2bf;
$component-secondary-background-color: #3d424b;

$component-overlays-background: #25272c;
