@import './style/variables.scss';

@import './style/index.scss';

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $secondary-dim;
  margin: 100px;
  overflow: overlay;
}

* {
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.visible {
  display: initial !important;
}
