@import './style/variables.scss';
@import './style/index.scss';

@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $secondary-dim;
  overflow: overlay;
}

body.modal-open {
  overflow: hidden;
}

// body.noscroll {
//   position: fixed;
//   overflow-y: scroll;
//   width: 100%;
// }

* {
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: sans-serif;
  font-family: 'JetBrains Mono', sans-serif;
}

.visible {
  display: initial !important;
}
