@import './style/variables.scss';

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $secondary-dim;
  margin: 200px;
}

.primary-button {
  background-color: $component-primary-background-color;
  color: $component-primary-text-color;
}

.secondary-button {
  background-color: $component-secondary-background-color;
  color: $component-secondary-text-color;
}
